<!-- Template for invoice detail -->
<script>
    (function ($) {
        $("#btnDone").click(function (e) {
            e.preventDefault();
            $(this).closest('.ui-dialog-content').dialog('close');
            $('#modal .row').remove();
        });
    })(jQuery);
</script>

<div class="modal-content">
    <p>{% block print_message %}{% endblock %}</p>
    <div class="form-wrapper-button">
        {% block button %}{% endblock %}
    </div>
</div>

