{% extends 'block__card_base_hn.html.twig' %}

{% block header_data %}
<div class="{{ class }}" >
{% endblock %}

{% block filters %}
  {% block filters_modal %}
    <div class="card-block">
      <div class="box-body">
        <div class="row {% if margin %}{% if margin.show_margin_card == false %} mb-0 {% endif %}{% endif %}">
          <div class="input-field col s12 m12 l12">
            {% if title %}
            <p class="label-message"> {{ title }}</p>
            
            {% endif %}
          </div>         
        </div>
       
      </div>
    </div>
  {% endblock %}
{% endblock %}

{% block modal %}
{% endblock %}

{% block header_content_table %}
{% endblock %}

{% block other_content_data %}
{% endblock %}

{% block message_exception %}
{% endblock %}