




  <div class="card-block block-invoice" infinite-scroll="loadMore()" infinite-scroll-distance="1">
    <div class="box-body">
      <div class="row ">
        <div class="col s12">        
          
            <div class="card clearfix white invoice-content">
              <div class="col s12 ">
                <div class="box-bill col row s12">
                  <div class="column-left col s12 m12 l4 xl4">
                        <div class="left card-icon">
                            <i class="Small material-icons">arrow_back     
                               
                            </i>
                       </div>                         
                       <span class="col s12 l9 push-l1" >Detalle de Factura</span>    
                  </div>
                  <div class="options column-right col s12 l8 xl8 "> 
                        
                          <div class="card-content-right col s12">
                           
                                <span class="col s12">                           
                                    <i class="Small material-icons"> file_download</i>
                                    <i class="Small material-icons">arrow_forward</i>
                                    <span class="prefix icon-uniEB16">
                                             <span class="path1"></span>
                                            <span class="path2"></span>
                                    </span>
                                   
                                </span>
                            
                          </div>                    
                   </div>
                </div>
              </div>
           </div>
          
        </div>
      </div>
    </div>
  </div>

