.form-manage-credit-cards{
 
  .cardsBlock{
    margin-top: 11px;
    .cardRow{
       min-height: 50px;
       border: 1px solid white;
       border-bottom: 1px solid #8c9dbe;
       .box-mycard{
         position: relative;
         overflow: hidden;
         margin-top: 16px;
         .prefix{
           float: left;
           margin-right: 8px;
           margin-top: 3px;
            span.path1, span.path2{
              height: 18px;
              margin: 0;
            }
         }
         .number-card{
           float:left;
           font-size: 16px;
           line-height: 16px;
           font-weight: $regular;
           color:#717580;
           margin-left: 11.4%;
           margin-top: 2px;
         }
         .pop-up-button{
           position: absolute;
           top:0;
           right: 0;
           width: 20px;
           i{
             margin: 0;
             .path1{
               margin: 0;
               width: 20px;
               &:before {
                 color:$cyan-tigo;
                 font-size: 18px;
               }
             }
             .path2{
               margin: 0;
               width: 20px;
               &:before {
                 color:$cyan-tigo;
                 font-size: 18px;                 
               }
             }
           }
         }
       }
    }
  }
}
#popup-schedule-payment{
  .icon-simplicity-cyan{
    .path1:before,
    .path2:before{
      color: $alert-success;
      font-size: 28px;
      font-weight: normal;
    }
  }
}